.DS_Store
output/
.idea/
**/.idea/

backend-springboot/target/
ai-agent-service/.venv/
ai-agent-service/.chroma/
**/__pycache__/
**/.pytest_cache/
frontend-dashboard/node_modules/
frontend-dashboard/dist/
